[Desktop Entry]
X-AppInstall-Package=Gertrude
X-AppInstall-Popcon=140
X-AppInstall-Section=universe

Name=Gertrude
Comment=Logiciel de gestion de crèches
Exec=/usr/bin/gertrude
Icon=/usr/share/gertrude/bitmaps_dist/gertrude.png
Terminal=false
Type=Application
StartupNotify=true
GenericName=
X-Ubuntu-Gettext-Domain=app-install-data

